---
title: ComplexCity Lab - Home
Author: Fabien Pfaender
Keywords: UTC, UTT, UTBM, SHU, ComplexCity, Laboratory, Comprehensive, Data Science, City, UTSEUS
Description:
---
{% include header.html %}
	<header class="header clearfix container">
      <!-- the LOGO -->
      <div class="logo">
      	<a href="/" alt="Complexcity Lab home" title="go home">
      		<img src="images/logo-ComplexCity.svg" onerror="this.onerror=null; this.src='images/logo-ComplexCity.png'" class="img-logo" alt="ComplexCity is a Sino-French joint lab program" ></a>
	    	</a>
	  	</div>
      
      <!-- the SOCIAL links -->
	  	<div id="social">
	  		{% for item in site.data.social %}
	  	  		<a href="{{ item.link }}" title="{{ item.title }}" target="_blank">
				<img src="{{ site.url }}/{{ item.image }}" 
					onmouseover="this.src='{{ site.url }}/{{ item.image-hover }}'" 
					onmouseout="this.src='{{ site.url }}/{{ item.image }}'" /></a>
			{% endfor %}
			</div>
			<!--the MENU -->
      <nav class="menu_main">
        <ul>
          <li><a href="/about/">ABOUT</a></li>
          <li><a href="/projects/">PROJECTS</a></li>
          <li><a href="/studies/">STUDIES</a></li>
          <li><a href="/blog/">BLOG</a></li>
        </ul>
      </nav>
      
      <!-- credit work in the top corner, image in css -->
    </header>

	<a name="workshop"></a>
	<div class="grey" style="border-bottom:1px solid #ccc;">
		<!-- the PUNCHLINE -->
		<article class="hero clearfix center punchline">
			<div class="col_100 right small center" style="top:-1.5em;position:relative;color:rgb(70,70,70);text-decoration: none;">
				<!-- Picture Attribution for Licenced work-->
				<p>Photo: <a href="https://www.flickr.com/photos/stuckincustoms/8242941446/">The Hypercity of Shanghai</a> by <a href="https://www.flickr.com/photos/stuckincustoms/">Trey Ratcliff</a> , licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY NC SA 2.0</a></p>
			</div>
		</article>
		
		<!-- the TITLE -->
		<article class="article punchline grey">
			<div class="col_100 center ">
				<!--<h1>ComplexCity</h1>-->
				<h2>A COMPREHENSIVE SINO FRENCH LAB TO ADDRESS CRUCIAL CITY ISSUES</h2>
			</div>
		</article>

		<!-- the NEWS -->
		<article class="article clearfix">
			<div class="container">
				<a name="theLab" ></a>
				
				<!-- the EXPLANATION -->
				<div class="col_33">
					<h2 class="center thin">Understand the City</h2>
					<p>ComplexCity Lab is an interdisciplinary sino-french joint research laboratory. It aims to study the city, and to a greater extent, urban systems. We are taking an innovative approach which combines the analytical and computational capabilities of engineering sciences with the openness and creativeness of humanities and social sciences. </p>
					<p></p>
				</div>
				
				<!-- the WHAT -->
				<div class="col_33 left">
					<h2 class="center thin">Complex Urban System</h2>
					<p>We consider the city as a complex system composed of a very large number of heterogeneous, dynamic, constantly mutative entities in non-linear interaction with each other at various scales. Exploring and analyzing this system leads us to technological, organizational and social innovations to enhance today's cities and help design the cities of tomorrow.
					</p>
				</div>

				<!-- the NEWS -->
				<div class="col_33">
					<h2 class="center thin">Lab News</h2>
					<ul class="thin breakingNews left">
						<li><strong>27-28 sep 2014</strong> — UTSEUS / ComplexCity Innovation Week: Innovative cities adapted to sustainable development in the digital age (Stay Tune)</li>
						<li><strong>5 nov 2014</strong> — ComplexCity next Big Data WorkShop in Paris (Stay Tune)</li>
					</ul>
				</div>
				
			</div>
		</article>
	</div>
	
	<!-- the MAIN CONTENT -->
	<article class="article clearfix" style="padding-top:0em;">
		<div class="container center">
			<h2 class="thin center" >Our Brilliant partners</h1>
			<ul class="menu_partners container">
				{% for item in site.data.partnership %}
	  	  		<li><a href="{{ item.link }}" title="{{ item.title }}" target="_blank">
				<img src="{{ item.image }}"/></a></li>
				{% endfor %}
			</ul>
		</div>
		</article>
		<article class="article clearfix" style="padding:0;margin-top:2em;border-top:1px #ccc solid;">
		<h1 class="center thin heroine">Complex City Science</h1>

		<div class="container" style="font-size:1em">
			<p>ComplexCity hosts 14 interdisciplinary and international research projects on cities. In addition to these projects we are developing a conceptual framework based on <strong>data science</strong> aimed at creating a science of cities.</p>
			
			<h1 class="thin" style="font-variant: small-caps;margin-bottom:0;"><span class="step">1</span>Data — <span style="font-size:0.8em">Sense, Store, Compute</span></h1>
			<ul class="main-data">
				<li><strong>We gather data</strong> with a dedicated secure 24/7 capture platform using various techniques such as traditional datasets integration, web data scraping, web services api calls</li>
				<li><strong>We store</strong> in cloud services, HPC ready heterogeneous storage platform &amp; raw text files for our researchers and partners maximum flexibility and efficiency</li>
				<li><strong>We value</strong> people’s skills and people's based collaboration over tools</li>
			</ul>
			
			<h1 class="thin" style="font-variant: small-caps;margin-bottom:0;"><span class="step">2</span>Science(s) — <span style="font-size:0.8em">Modelization, Simulation, Visualization</span></h1>
			<ul class="main-data">
				<li><strong>We create</strong> a methodology to analyze complex systems such as cities</li>
				<li><strong>We use</strong> latest development in data science (machine learning, visualization, serious gaming, simulation, etc.)
</li>
				<li><strong>We unify</strong> complex systems theories to make them powerful together</li>
			</ul>


			<h1 class="thin" style="font-variant: small-caps;margin-bottom:0;"><span class="step">3</span>Studies — <span style="font-size:0.8em">Culture, Mobility, Energy, Urbanism, Health</span></h1>
			<ul class="main-data">
				<li><strong>We provide</strong> a comprehensive, interdisciplinary environment to our researchers and help them to explore and extract knowledge from data</li>
				<li><strong>We develop</strong> solutions for cities, government, citizens and industries with our partners</strong>
			</ul>
			
			<ul class="rslides">
				<li><img src="images/slideshow/laptop-slideshow1.png" alt=""></li>
				<li><img src="images/slideshow/laptop-slideshow2.png" alt=""></li>
				<li><img src="images/slideshow/laptop-slideshow3.png" alt=""></li>
				<li><img src="images/slideshow/laptop-slideshow4.png" alt=""></li>
				<li><img src="images/slideshow/laptop-slideshow5.png" alt=""></li>
				<li><img src="images/slideshow/laptop-slideshow6.png" alt=""></li>
			</ul>
		</div>
	</article>

    
{% include footer.html %}