<div class="before-footer center clearfix"></div>
	<footer class="footer clearfix grey">
		<article class="article clearfix">
			<div class="col_100 center clearfix">
				<p class="thin">Complexcity Lab is a collaboration between french Université de Technologie Group and Shanghai University</p>
				<!-- the OFFICIAL CREDIT -->
				<a href="http://interactions.utc.fr/Le-Groupe-UT-avance-en-reseau" alt="UT Group" title="UT Group" class="col_50 center"><img class="img-logo" src="{{ site.url }}/images/logo-3UT.svg" /></a>
				<a href="http://shu.edu.cn" alt="Shanghai University logo black and white" title="go to Shanghai University homepage" class="col_50 center"><img class="img-logo" src="{{ site.url }}/images/logo-SHU-black-SD.png" /></a>
			</div>

			<!-- the LICENCE -->
			<div class="cc thin small">
				<p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a> <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">ComplexCity Laboratory website</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.complexcity.org" property="cc:attributionName" rel="cc:attributionURL">ComplexCity Laboratory</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a></p>
				<p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a> This website code is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a></p>
			</div>
		</article>
	</footer>
</body>
</html>