<div class="before-footer center clearfix"></div>
	<footer class="footer clearfix grey">
		<article class="article clearfix">
			<div class="col_100 center clearfix">
				<p class="thin">Complexcity Lab is a collaboration between french Université de Technologie Group and Shanghai University</p>
				<!-- the OFFICIAL CREDIT -->
				<a href="http://interactions.utc.fr/Le-Groupe-UT-avance-en-reseau" alt="UT Group" title="UT Group" class="col_50 center"><img class="img-logo" src="{{ site.url }}/images/partners/logo-3UT.svg" /></a>
				<a href="http://shu.edu.cn" alt="Shanghai University logo black and white" title="go to Shanghai University homepage" class="col_50 center"><img class="img-logo" src="{{ site.url }}/images/partners/logo-SHU-black-SD.png" /></a>
			</div>

			<!-- the LICENCE -->
			<div class="cc thin small">
				<p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0;height:1em;margin-right:0.5em" src="{{ site.url }}/images/by-nc-nd.svg" onerror="this.onerror=null; this.src='{{ site.url }}/images/by-nc-nd.png'" /></a> <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">ComplexCity Lab web content</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.complexcity.org" property="cc:attributionName" rel="cc:attributionURL">ComplexCity Lab</a> is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">CC BY NC ND 3.0</a> unless specified otherwise.</p>
				
				<p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0;height:1em;margin-right:0.5em" src="{{ site.url }}/images/by.svg" onerror="this.onerror=null; this.src='{{ site.url }}/images/by.png'"/></a><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">ComplexCity Lab website code</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.complexcity.org" property="cc:attributionName" rel="cc:attributionURL">ComplexCity Lab</a> is licensed under <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a> and available on <a href="https://github.com/complexcity" target="_blank">github</a></p>
				<p>This website was designed and developed by Fabien Pfaender with help of Laetitia Pfaender and MonZen Tzen.
			</div>
		</article>
	</footer>
</body>
</html>