---
title: ComplexCity Lab - Blog
Name: blog
Author: Fabien Pfaender
Keywords: UTC, UTT, UTBM, SHU, ComplexCity, Laboratory, Comprehensive, Data Science, City, UTSEUS
Description:
---
{% include header.html %}
	<div class="invert-header-color" style="margin:0; width:100%;">
		<header class="header clearfix container">
			<!-- the LOGO -->
      <div class="logo">
      	<a href="/" alt="Complexcity Lab home" title="go home">
      		<img src="{{ site.url }}/images/logo-ComplexCity-white.svg" onerror="this.onerror=null; this.src='images/logo-ComplexCity.png'" class="img-logo" alt="ComplexCity is a Sino-French joint lab program" ></a>
	    	</a>
	    </div>
      
 	  	<!-- the SOCIAL links -->
	  	<div id="social">
				 <a href="https://github.com/ComplexCity/" title="our github repository" target="_blank">
					 <img src="{{ site.url }}/images/follow-us-github-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-github-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-github-white.svg'" /></a>
				 <a href="https://speakerdeck.com/complexcity" title="our presentations on speakerdeck" target="_blank">
					 <img src="{{ site.url }}/images/follow-us-speakerdeck-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-speakerdeck-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-speakerdeck-white.svg'" /></a>
				 <a href="http://twitter.com/complexcity_lab" title="our twitter account" target="_blank">
					 <img src="{{ site.url }}/images/follow-us-twitter-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-twitter-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-twitter-white.svg'"/></a>
				 <a href="http://www.weibo.com/complexcity" title="our weibo account" target=_blank>
					 <img src="{{ site.url }}/images/follow-us-weibo-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-weibo-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-weibo-white.svg'"/></a>
				 <a href="/blog/feed.xml" title="ComplexCity Lab's Blog RSS feed" target=_blank>
					 <img src="{{ site.url }}/images/follow-us-syndication-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-syndication-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-syndication-white.svg'"/></a>
				 <a href="https://pinboard.in/u:shangdaemon/public/" title="our web links" target=_blank>
					 <img src="{{ site.url }}/images/follow-us-pinboard-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-pinboard-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-pinboard-white.svg'"/></a>
				 <a href="https://www.goodreads.com/review/list/32004943?shelf=read" title="the books we like" target=_blank>
					 <img src="{{ site.url }}/images/follow-us-goodreads-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-goodreads-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-goodreads-white.svg'"/></a>
			</div>

			<!--the MENU -->
      <nav class="menu_main">
        <ul>
          <li><a href="/about/">ABOUT</a></li>
          <li><a href="/projects/">PROJECTS</a></li>
          <li><a href="/studies/">STUDIES</a></li>
          <li class="active">BLOG</li>
        </ul>
      </nav>
      
      <!-- credit work in the top corner, image in css -->
    </header>
  </div>
	
	<aside id="blog-sidebar">

		<!-- the TWEETS -->
		<section>
			<h3 style="margin-top:0">
				<span class="twitter">@complexcity</span><a class="twitter" href="http://twitter.com/complexcity_lab" ><img src="/images/twitter.png" class="twitter" /></a>
				<a class="twitter" href="http://www.weibo.com/complexcity"><img src="/images/weibo.png" class="twitter" /></a>
			</h3>
			<ul id="twitter">
			</ul>
		</section>
   	
   	<section>
   		<h3>Recently</h3>
			<ul class="posts-simple-list">
				{% for post in site.posts limit:10 %}
				<li>
					<a href="{{ post.url }}">{{ post.title }}</a>
				</li>
				{% endfor %}
				</ul>	
		</section>
		
		<section>
			<h3>Search
				<form method="get" class="form-search">
					<input type="text" id="search-text" name="search-text" />
				</form>
			</h3>
			<ul id="search-results">
			</ul>
		</section>

	</aside>

<script lang="javascript">
(function() {
	$.getJSON("/json/twitter.json")
		.done(function(data) {
			var tweetDisplay = 4;
			var autolinker = new Autolinker( { newWindow: true} );
			$.each(data, function(i, item) {
				var linkedText = autolinker.link(item.text);
				var linkedDate = autolinker.link(item.date);
				$( "<li><span class=\"date\">" + linkedDate.toUpperCase() + "</span><br/>" + linkedText + "</li>").appendTo( "#twitter" );
				if ( i === tweetDisplay ) {
					return false;
				}
			});
		});
})();


</script>
		<div id="posts" class="clearfix">
		{% for post in site.posts %}
			{% assign author = site.data.authors[post.author] %}
			<div>
				<div class="col_50">
					<img class="blog-img-full-size" alt="{{post.image_alt}}" src="{{ site.url }}{{post.image_small}}" />
				</div>
				<div class="col_50" style="margin-bottom:3em;">
					<h2 style="margin-top:0.2em"><a href="{{ post.url }}" class="no-decoration">{{ post.title | upcase}}</a></h2>
					<p class="thin">{{author.display_name}} &bull; {{post.date | date_to_string}}</p>
					{{ post.excerpt }}
					<p><a href="{{ post.url }}">Read more…</a></p>					
				</div>
			</div>
		{% endfor %}
		</div>
    
{% include footer.html %}