---
title: ComplexCity Lab - Blog
Name: blog
Description:
---

{% include header.html %}
	<div class="invert-header-color" style="margin:0; width:100%;">
		<header class="header clearfix container">
			<!-- the LOGO -->
      <div class="logo">
      	<a href="/" alt="Complexcity Lab home" title="go home">
      		<img src="{{ site.url }}/images/logo-ComplexCity-white.svg" onerror="this.onerror=null; this.src='images/logo-ComplexCity.png'" class="img-logo" alt="ComplexCity is a Sino-French joint lab program" ></a>
	    	</a>
	    </div>
      
 	  	<!-- the SOCIAL links -->
	  	<div id="social">
			{% for item in site.data.social %}
	  	  		<a href="{{ item.link }}" title="{{ item.title }}" target="_blank">
				<img src="{{ site.url }}/{{ item.image-white }}" 
					onmouseover="this.src='{{ site.url }}/{{ item.image-white-hover }}'" 
					onmouseout="this.src='{{ site.url }}/{{ item.image-white }}'" /></a>
			{% endfor %}
		</div>

			<!--the MENU -->
      <nav class="menu_main">
        <ul>
          <li><a href="/about/">ABOUT</a></li>
          <li><a href="/projects/">PROJECTS</a></li>
          <li><a href="/studies/">STUDIES</a></li>
          <li class="active"><a href="/blog/">BLOG</a></li>
        </ul>
      </nav>
      
      <!-- credit work in the top corner, image in css -->
    </header>
  </div>
	
	<aside id="blog-sidebar">

		<!-- the TWEETS -->
		<section>
			<h3 style="margin-top:0">
				<span class="twitter">@complexcity</span><a class="twitter" href="http://twitter.com/complexcity_lab" ><img src="/images/twitter.png" class="twitter" /></a>
				<a class="twitter" href="http://www.weibo.com/complexcity"><img src="/images/weibo.png" class="twitter" /></a>
			</h3>
			<ul id="twitter">
			</ul>
		</section>
   	
   	<section>
   		<h3>Recently</h3>
			<ul class="posts-simple-list">
				{% for post in site.posts limit:10 %}
				<li>
					<a href="{{ post.url }}">{{ post.title }}</a>
				</li>
				{% endfor %}
				</ul>	
		</section>
		
		<section>
			<h3>Search
				<form method="get" class="form-search">
					<input type="text" id="search-text" name="search-text" />
				</form>
			</h3>
			<ul id="search-results">
			</ul>
		</section>

	</aside>

<script lang="javascript">
(function() {
	$.getJSON("/json/twitter.json")
		.done(function(data) {
			var tweetDisplay = 4;
			var autolinker = new Autolinker( { newWindow: true} );
			$.each(data, function(i, item) {
				var linkedText = autolinker.link(item.text);
				var linkedDate = autolinker.link(item.date);
				$( "<li><span class=\"date\">" + linkedDate.toUpperCase() + "</span><br/>" + linkedText + "</li>").appendTo( "#twitter" );
				if ( i === tweetDisplay ) {
					return false;
				}
			});
		});
})();
</script>

		{% assign author = site.data.authors[page.author] %}
		<div id="posts" class="clearfix">
			<section id="author-head">
				<h1>Author: {{author.display_name}}{% if author contains 'chinese_name' %} ({{author.chinese_name}}){% endif %}</h1>
				<div class="author-photo">
					{% if author.description != '' %}
						<img src="{{author.photo}}" class="avatar"/>
					{% endif %}
				</div>
				<div class="author-about">
					<p>{% if author.description != '' %}{{author.description}}{% endif %}</p>
				</div>
			</section>

		{% for post in site.posts %}
			{% if post.author == page.author %}
			<section>
				<div class="col_50">
					<img class="blog-img-full-size" alt="{{post.image_alt}}" src="{{ site.url }}{{post.image_small}}" />
				</div>
				<div class="col_50" style="margin-bottom:3em;">
					<h2 style="margin-top:0.2em"><a href="{{ post.url }}" class="no-decoration">{{ post.title | upcase}}</a></h2>
					<p class="thin">{{author.display_name}} &bull; {{post.date | date_to_string}}</p>
					{{ post.excerpt }}
					<p><a href="{{ post.url }}">Read more…</a></p>					
				</div>
			</section>
			{% endif %}
		{% endfor %}
		</div>
    
{% include footer.html %}