{% include header.html %}
{% assign author = site.data.authors[page.author] %}
	<div class="invert-header-color" style="margin:0; width:100%;">
	<header class="header clearfix container">
      <!-- the LOGO -->
      <div class="logo">
      	<a href="{{ site.url }}" alt="Complexcity Lab home" title="go home">
      		<img src="{{ site.url }}/images/logo-ComplexCity-white.svg" onerror="this.onerror=null; this.src='images/logo-ComplexCity.png'" class="img-logo" alt="ComplexCity is a Sino-French joint lab program" ></a>
	    	</a>
	  	</div>

 	  	<!-- the SOCIAL links -->
	  	<div id="social">
				 <a href="https://github.com/ComplexCity/" title="our github repository" target="_blank">
					 <img src="{{ site.url }}/images/follow-us-github-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-github-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-github-white.svg'" /></a>
				 <a href="https://speakerdeck.com/complexcity" title="our presentations on speakerdeck" target="_blank">
					 <img src="{{ site.url }}/images/follow-us-speakerdeck-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-speakerdeck-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-speakerdeck-white.svg'" /></a>
				 <a href="http://twitter.com/complexcity_lab" title="our twitter account" target="_blank">
					 <img src="{{ site.url }}/images/follow-us-twitter-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-twitter-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-twitter-white.svg'"/></a>
				 <a href="http://www.weibo.com/complexcity" title="our weibo account" target=_blank>
					 <img src="{{ site.url }}/images/follow-us-weibo-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-weibo-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-weibo-white.svg'"/></a>
				 <a href="/blog/feed.xml" title="ComplexCity Lab's Blog RSS feed" target=_blank>
					 <img src="{{ site.url }}/images/follow-us-syndication-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-syndication-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-syndication-white.svg'"/></a>
				 <a href="https://pinboard.in/u:shangdaemon/public/" title="our web links" target=_blank>
					 <img src="{{ site.url }}/images/follow-us-pinboard-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-pinboard-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-pinboard-white.svg'"/></a>
				 <a href="https://www.goodreads.com/review/list/32004943?shelf=read" title="the books we like" target=_blank>
					 <img src="{{ site.url }}/images/follow-us-goodreads-white.svg" onmouseover="this.src='{{ site.url }}/images/follow-us-goodreads-hover.svg'" onmouseout="this.src='{{ site.url }}/images/follow-us-goodreads-white.svg'"/></a>
			</div>

      <!--the MENU -->
      <nav class="menu_main">
        <ul>
          <li><a href="/about/">ABOUT</a></li>
          <li><a href="/projects/">PROJECTS</a></li>
          <li><a href="/studies/">STUDIES</a></li>
          <li class="active"><a href="/blog/">BLOG</a></li>
        </ul>
      </nav>
            
      <!-- credit work in the top corner, image in css -->
    </header>
    </div>

	<article class="article clearfix" style="padding-top:3em;">
		<h1 class="col_100 thin center"> {{page.title}} </h1>
		<p class="thin center">By <a href="/authors/{{author.link}}/" title="Posts by {{author.display_name}}" class="underline-hover">{{author.display_name}}{% if author.chinese_name != '' %} ({{author.chinese_name}}){% endif %}</a> on {{ page.date | date_to_string }}</p>
		<p><img class="clearfix blog-img-full-size" alt="{{page.image_alt}}" src="{{page.image_big}}" /></p>
		<div class="blog-container">
			{{ content }}
		</div>
		<div class="post-author">
			<div class="blog-container clearfix">
				<div class="author-photo">
					{% if author.description != '' %}
						<img src="{{author.photo}}" class="avatar"/>
					{% endif %}
				</div>
				<div class="author-about">
					<a href="/authors/{{author.link}}/" title="Posts by {{author.display_name}}" class="author">{{author.display_name}}{% if author.chinese_name != '' %} ({{author.chinese_name}}){% endif %}</a>
					<p>{% if author.description != '' %}{{author.description}}{% endif %}</p>
				</div>
			</div>
		</div>
		
		<div class="blog-container clearfix thin" style="margin-bottom:2em;">
			<div class="left"> 
        {% if page.previous.url %} 
                &laquo; <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">{{page.previous.title}}</a> 
        {% endif %} 
        </div> 

        <div class="right"> 
        {% if page.next.url %} 
                <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}}</a> &raquo;
        {% endif %} 
        </div> 
		</div>
		
		<div class="blog-container clearfix thin">
		{% if page.comments %}
		
		 <div id="disqus_thread"></div>
		 <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'complexcitylab'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink small">comments powered by <span class="logo-disqus">Disqus</span></a>
    
		{% endif %}
		</div>
	</article>
		
{% include footer.html %}